body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  box-shadow: 0px 7px 11px grey;
  background: #bcd2ee;
  border-radius: 30px;
  padding: 10pxpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 700px;
  box-sizing: content-box;
}

img {
  max-width: 400px;
  max-height: 400px;
  border-radius: 10px;
  align-self: center;
  border: 2px solid #000080;
  margin: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 5px 20px 40px 20px;
  border-radius: 10px;
  border: 2px solid #000080;
  font-size: 20px;
  text-align: left;
  padding: 10px;
}

input::placeholder {
  color: rgba(160, 160, 160);
}

h1 {
  font-size: 50px;
  font-family: 'Chewy', cursive;
  text-align: center;
  color: #000080;
  text-shadow: 2px 2px #76e7cd;
}

select {
  margin: 5px 20px 30px;
  border-radius: 10px;
  border: 2px solid #000080;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

label {
  font-size: 20px;
  font-family: 'Chewy';
  color: #000080;
}

button {
  font-family: 'Chewy';
  font-size: 30px;
  background-color: #52050a;
  color: #76e7cd;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

button:active {
  background-color: #000080;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

span {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  align-items: center;
}

div {
  display: flex;
}
